* {
	font-family: Arial, Verdana, sans-serif;
	 background-color: #add8e6; 
	text-align: center;
}
body {
       <img src =" https://pixnio.com/free-images/flora-plants/flowers/pink-flower.jpg" />;
	width: 90%;
	margin: 0 auto;
}
#content {
	overflow: auto;
}
#nav, #feature, #footer {
         background-color: #add8e6; 
	margin: 1%;
}
.column1, .column2, .column3 {
         background-color: #add8e6; 
	width: 31.3%;
	float: left;
        margin: 1%;
}
			
	li {
		 background-color: #add8e6; 
		display: inline;
		padding: 0.5em;}
#nav, #footer {
		 background-color: #add8e6; 
	         padding: 0.5em 0;}
#feature, .article {
        background-color: #add8e6; 
	height: 10em;
	margin-bottom: 1em;

}
