* {
	font-family: Arial, Verdana, sans-serif;
	 
	text-align: center;
}
body {
	font-family: 'ChunkFiveRegular';
        background-image: url("pink-flower.jpeg"); 
	width: 90%;
	margin: 0 auto;
}
#content {
	overflow: auto;
}
#nav, #feature, #footer {
         background-color: #add8e6; 
	margin: 1%;
}
.column1, .column2, .column3 {
display: inline-block;
width: 30%;
float: left; 
margin: 1%;	
} 
	

.column1 {
         background-color: #fba62b; 
	display: inline-block;
       
}
.column2 {
         background-color: #f034e6; 
	 display: inline-block;
        
}
.column3 {
         background-color: #3c0af6; 
	 margin-right: 0%;
	 display: inline-block;
        
}
			
	li {
		 background-color: #add8e6; 
		display: inline;
		padding: 0.5em;}
#nav, #footer {
	        
		 background-color: #3ef35a;
		 
	         padding: 0.5em 0;}
#feature, .article {
	 height: 10em;
       margin-bottom: 1em;
	background-color: #fb2bba;
        
	

}
